*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    /* background-color: #060a1f; */
    background-color: black;
}
main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: white;
}
h1{
    font-weight: 900;
    letter-spacing: 2px;
    display: inline-block;
    background: linear-gradient(45deg, red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
img{
    width: 280px;
}
/* button{
    padding: 10px;
    font-size: 1em;
    font-weight: 700;
    color: white;
    background-color: #414141;
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
} */


.draw-border {
    box-shadow: inset 0 0 0 4px #58cdd1;
    color: #58afd1;
    -webkit-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
    position: relative;
  }
  
  .draw-border::before,
  .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0rem;
    height: 0;
    bottom: 0;
    right: 0;
  }
  
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
  }
  
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
  }
  
  .draw-border:hover {
    color: #ffe593;
  }
  
  .draw-border:hover::before,
  .draw-border:hover::after {
    border-color: #eb196e;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  
  .draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
    transition-delay: 0s, 0s, 0.25s;
  }
  
  .draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
    transition-delay: 0s, 0.25s, 0s;
  }
  
  .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.05rem;
    margin: 1em;
    width: 13rem;
  }
  
  .btn:focus {
    outline: 2px dotted #55d7dc;
  }

  /* Media query */

  @media screen and (max-width:580px){
    .format{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
